<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">    

    <style>
        nav { background-color: #f8f9fa; padding: 10px; }
        nav a { margin-right: 10px; text-decoration: none; color: #007bff; }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('main.home') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            <a href="{{ url_for('main.show_borrowed_books') }}">Borrowed Books</a>
            <a href="{{ url_for('main.show_recommended_books') }}">Recommend Books</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        {% endif %}
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>